*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#debug {
  background: black;
  color: yellow;
  font-size: 2rem;
}

.fade {
  opacity: 0.3;
  border: 8px solid darkred;
}
