*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #000;
  position: relative;
}

#log, canvas {
  position: absolute;
}

#log {
  background: black;
  color: yellow;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fade {
  opacity: 0.3;
  border: 8px solid darkred;
}
