#map {
  /* inset: 0; */
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#map.fade {
  transition: opacity 300ms;
}

#map.hidden {
  opacity: 0;
  /* opacity: 1;
  transition: opacity 300ms; */
}

#map.fade-in {
  opacity: 1;
  transition: opacity 300ms;
}
