/* @import url("../../node_modules/maplibre-gl/dist/maplibre-gl.css"); */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  /* disable pinch zoom gestures and and double-tap to zoom */
  /* touch-action: pan-x pan-y; */

  /* disable panning */
  /* touch-action: none; */
}

.socket-btn {
  padding: 5px 3px 3px 3px !important;
}

.socket-btn > svg {
  opacity: 0.9;
}

.debug {
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  text-align: left;
  font-size: 0.8rem;
  pointer-events: none;
  color: #ff0;
  padding: 0 0.5rem;
  text-shadow: -1px -1px #111d, -1px 1px #111d, 1px -1px #111d, 1px 1px #111d;
  font-family: "Arial Black";
  letter-spacing: 0.2px;
}
